In [2]:
from sqlalchemy import create_engine
import pandas as pd

engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')

In [70]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.yelp_review_sentiment
    LEFT JOIN yelp_data.yelp_coffee_info_processed USING(business_id) as t
""", con = engine_out)

df2 = pd.read_sql_query("""
SELECT *
FROM yelp_data.google_trend_v
"""
, con=engine_out)

In [ ]:
temp = []
for i in df2.columns:
    if i[-2]=='0':
        i = i[:-2]+i[-1]
    temp.append(i)
df2.columns = temp

In [ ]:
state = df['state']
year_month = df['year-month']
temp = []
for i in range(len(state)):
    if state[i] not in df2['state'].to_list():
        temp.append(None)
        continue
    temp.append(df2[year_month[i]][df2['state'].to_list().index(state[i])])

In [ ]:
df['searching_index'] = temp

In [ ]:
# df.to_sql('yelp_data.yelp_review',con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

In [3]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.yelp_review_sentiment""",con=engine_out)
df['count'] = 1

In [8]:
df_sum = df.groupby(['business_id','year-month']).sum().sort_values(['business_id','year-month'])
df_sum['weighted_rating'] = 0
df_avg = df.groupby(['business_id','year-month']).mean().sort_values(['business_id','year-month'])

In [27]:
bid = 0
result = []
for i in range(len(df_sum)):
    if df_sum.iloc[i].name[0] != bid:
        bid, ym = df_sum.iloc[i].name
        all_value = [bid,ym] + df_sum.iloc[i].to_list()
        # print(all_value)
        all_value[-1] = float(all_value[2]) / all_value[-2]
        result.append(all_value)
        continue
    bid, ym = df_sum.iloc[i].name
    all_value = [bid,ym] + df_sum.iloc[i].to_list()
    # avg_rating = (pre_avg * pre_count + cur_sum) / (pre_count + cur_count)
    all_value[-1] = (result[-1][-1] * result[-1][-2] + all_value[2]) / (result[-1][-2] + all_value[-2])
    all_value[-2] = result[-1][-2] + all_value[-2]
    result.append(all_value)
df_new = pd.DataFrame(result)
df_new = df_new[[0,1,3,4,5,110]]
df_new.columns = ['business_id','useful','funny','cool','year-month','weighted_rating']

In [31]:
df_new

,business_id,useful,funny,cool,year-month,weighted_rating
0,-0epFLgYq2C1Jo_W4FOBKw,2012-7,1.0,0.0,0.0,5.000000
1,-0epFLgYq2C1Jo_W4FOBKw,2012-8,2.0,0.0,1.0,4.500000
2,-0epFLgYq2C1Jo_W4FOBKw,2013-10,0.0,1.0,0.0,4.500000
3,-0epFLgYq2C1Jo_W4FOBKw,2013-11,0.0,0.0,0.0,4.666667
4,-0epFLgYq2C1Jo_W4FOBKw,2013-7,2.0,0.0,0.0,4.571429
...,...,...,...,...,...,...
189767,zznJox6-nmXlGYNWgTDwQQ,2020-7,0.0,0.0,0.0,1.760000
189768,zznJox6-nmXlGYNWgTDwQQ,2020-8,0.0,0.0,0.0,1.730769
189769,zznJox6-nmXlGYNWgTDwQQ,2021-1,0.0,0.0,0.0,1.703704
189770,zznJox6-nmXlGYNWgTDwQQ,2021-10,0.0,0.0,0.0,1.655172
189771,zznJox6-nmXlGYNWgTDwQQ,2021-7,0.0,0.0,0.0,1.633333

In [36]:
for name in df_avg.loc[:, ~df_avg.columns.isin(['stars', 'useful', 'funny','cool','month','year','quarter','count'])].columns:
    df_new[name] = df_avg[name].to_list()

<ipython-input-36-762f1aaaf2c7>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new[name] = df_avg[name].to_list()
<ipython-input-36-762f1aaaf2c7>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new[name] = df_avg[name].to_list()

In [38]:
df_new.to_sql('yelp_dynamic', con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')