In [3]:
from sqlalchemy import create_engine
import pandas as pd

engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')

In [70]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.yelp_review_sentiment
    LEFT JOIN yelp_data.yelp_coffee_info_processed USING(business_id) as t
""", con = engine_out)

df2 = pd.read_sql_query("""
SELECT *
FROM yelp_data.google_trend_v
"""
, con=engine_out)

In [ ]:
temp = []
for i in df2.columns:
    if i[-2]=='0':
        i = i[:-2]+i[-1]
    temp.append(i)
df2.columns = temp

In [ ]:
state = df['state']
year_month = df['year-month']
temp = []
for i in range(len(state)):
    if state[i] not in df2['state'].to_list():
        temp.append(None)
        continue
    temp.append(df2[year_month[i]][df2['state'].to_list().index(state[i])])

In [ ]:
df['searching_index'] = temp

In [ ]:
# df.to_sql('yelp_data.yelp_review',con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

In [3]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.yelp_review_sentiment""",con=engine_out)
df['count'] = 1

In [8]:
df_sum = df.groupby(['business_id','year-month']).sum().sort_values(['business_id','year-month'])
df_sum['weighted_rating'] = 0
df_avg = df.groupby(['business_id','year-month']).mean().sort_values(['business_id','year-month'])

In [27]:
bid = 0
result = []
for i in range(len(df_sum)):
    if df_sum.iloc[i].name[0] != bid:
        bid, ym = df_sum.iloc[i].name
        all_value = [bid,ym] + df_sum.iloc[i].to_list()
        # print(all_value)
        all_value[-1] = float(all_value[2]) / all_value[-2]
        result.append(all_value)
        continue
    bid, ym = df_sum.iloc[i].name
    all_value = [bid,ym] + df_sum.iloc[i].to_list()
    # avg_rating = (pre_avg * pre_count + cur_sum) / (pre_count + cur_count)
    all_value[-1] = (result[-1][-1] * result[-1][-2] + all_value[2]) / (result[-1][-2] + all_value[-2])
    all_value[-2] = result[-1][-2] + all_value[-2]
    result.append(all_value)
df_new = pd.DataFrame(result)
df_new = df_new[[0,1,3,4,5,110]]
df_new.columns = ['business_id','useful','funny','cool','year-month','weighted_rating']

In [31]:
df_new

,business_id,useful,funny,cool,year-month,weighted_rating
0,-0epFLgYq2C1Jo_W4FOBKw,2012-7,1.0,0.0,0.0,5.000000
1,-0epFLgYq2C1Jo_W4FOBKw,2012-8,2.0,0.0,1.0,4.500000
2,-0epFLgYq2C1Jo_W4FOBKw,2013-10,0.0,1.0,0.0,4.500000
3,-0epFLgYq2C1Jo_W4FOBKw,2013-11,0.0,0.0,0.0,4.666667
4,-0epFLgYq2C1Jo_W4FOBKw,2013-7,2.0,0.0,0.0,4.571429
...,...,...,...,...,...,...
189767,zznJox6-nmXlGYNWgTDwQQ,2020-7,0.0,0.0,0.0,1.760000
189768,zznJox6-nmXlGYNWgTDwQQ,2020-8,0.0,0.0,0.0,1.730769
189769,zznJox6-nmXlGYNWgTDwQQ,2021-1,0.0,0.0,0.0,1.703704
189770,zznJox6-nmXlGYNWgTDwQQ,2021-10,0.0,0.0,0.0,1.655172
189771,zznJox6-nmXlGYNWgTDwQQ,2021-7,0.0,0.0,0.0,1.633333

In [36]:
for name in df_avg.loc[:, ~df_avg.columns.isin(['stars', 'useful', 'funny','cool','month','year','quarter','count'])].columns:
    df_new[name] = df_avg[name].to_list()

<ipython-input-36-762f1aaaf2c7>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new[name] = df_avg[name].to_list()
<ipython-input-36-762f1aaaf2c7>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new[name] = df_avg[name].to_list()

In [38]:
# df_new.to_sql('yelp_dynamic', con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

772

In [10]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.yelp_dynamic""",con=engine_out)

In [16]:
temp = df.columns.to_list()
df.columns = [temp[0],temp[4]]+temp[1:4]+temp[5:]

In [19]:
df_sentiment = pd.read_sql_query("""SELECT * FROM yelp_data.yelp_review_sentiment""",con=engine_out)

In [26]:
result = []
df_sentiment = df_sentiment[['business_id','year-month','sentiment']]
for i in range(len(df_sentiment)):
    bid,ym, sentiment = df_sentiment.iloc[i].to_list()
    if sentiment =='Positive':
        result.append([bid,ym,1,0,0])
    elif sentiment =='Neutral':
        result.append([bid,ym,0,1,0])
    else:
        result.append([bid,ym,0,0,1])
df_sentiment = pd.DataFrame(result)

                             0        1  2  3  4
0       ompDR5sUDpoI6gnTldmneQ   2005-7  1  0  0
1       8uF-bhJFgT4Tn6DTb27viA  2014-10  1  0  0
2       urqTD_JA6CphlyU0I-AyKg   2018-4  0  0  1
3       SwBhaxfQPbyhsi0QHUAN0A   2013-9  1  0  0
4       Yz6b3SrI_MXcaVekMISmIg   2017-8  1  0  0
...                        ...      ... .. .. ..
442343  6tXfFVJJwfWOY9n7LK8dVw   2017-3  1  0  0
442344  b7ih13lmlwnut_4xpk-x6Q   2020-2  1  0  0
442345  ZKWfCEqvVt7mECgWf53sBA   2021-1  1  0  0
442346  WgyhlYg3fnSgco4qLa20cg  2013-10  1  0  0
442347  kXf1ub58e2IRQ3U7eEQjng   2021-2  1  0  0

[442348 rows x 5 columns]

In [32]:
df_sentiment.columns = ['business_id','year-month','positive','neutral','negative']
df_sentiment = df_sentiment.groupby(['business_id','year-month']).sum().sort_values(['business_id','year-month'])

,business_id,year-month,useful,funny,cool,weighted_rating,v_0,v_1,v_2,v_3,...,v_91,v_92,v_93,v_94,v_95,v_96,v_97,v_98,v_99,positive
0,-0epFLgYq2C1Jo_W4FOBKw,2012-7,1.0,0.0,0.0,5.000000,-0.085646,0.101959,0.458013,-0.942328,...,-0.170414,0.630824,0.200305,0.226581,-0.525363,0.122211,0.146444,-0.801812,0.484361,1
1,-0epFLgYq2C1Jo_W4FOBKw,2012-8,2.0,0.0,1.0,4.500000,-0.067839,-0.472780,0.424308,-0.885989,...,0.147663,0.897455,-0.097870,0.409927,-0.380964,0.076491,-0.431929,-0.572630,-0.072004,1
2,-0epFLgYq2C1Jo_W4FOBKw,2013-10,0.0,1.0,0.0,4.500000,0.083977,-0.329155,0.399034,-0.827860,...,0.043057,0.923954,-0.042089,0.358245,-0.721620,-0.311193,-0.402064,-0.427890,0.048680,2
3,-0epFLgYq2C1Jo_W4FOBKw,2013-11,0.0,0.0,0.0,4.666667,0.104870,-0.333817,0.189478,-0.575637,...,-0.157232,1.183485,-0.023706,-0.352601,-0.654134,-0.442338,-0.342884,-0.003874,-0.003865,1
4,-0epFLgYq2C1Jo_W4FOBKw,2013-7,2.0,0.0,0.0,4.571429,0.283772,-0.029455,0.477231,-1.658355,...,-0.098161,1.068482,0.066011,0.404886,-0.876013,-0.172552,-0.441679,-0.673039,0.068525,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189767,zznJox6-nmXlGYNWgTDwQQ,2020-7,0.0,0.0,0.0,1.760000,-0.193349,-0.093892,0.813716,-1.423323,...,-0.305008,0.690984,0.134918,0.298944,-0.534696,-0.289122,-0.106703,-0.573344,-0.286645,0
189768,zznJox6-nmXlGYNWgTDwQQ,2020-8,0.0,0.0,0.0,1.730769,-0.051482,-0.063716,0.644117,-1.506378,...,-0.132617,1.201136,0.070726,0.436608,-0.763238,-0.195653,-0.096862,-0.465674,-0.118251,0
189769,zznJox6-nmXlGYNWgTDwQQ,2021-1,0.0,0.0,0.0,1.703704,-1.105035,-0.789992,0.197941,-1.436233,...,-0.456315,0.915510,-0.250417,-0.071963,-0.546561,-0.544781,0.821324,-0.804121,0.377284,0
189770,zznJox6-nmXlGYNWgTDwQQ,2021-10,0.0,0.0,0.0,1.655172,-0.255191,-0.134817,0.549335,-1.438997,...,-0.156608,1.225592,0.225324,0.407718,-1.095844,0.091844,-0.201138,-0.996800,0.230758,0
189771,zznJox6-nmXlGYNWgTDwQQ,2021-7,0.0,0.0,0.0,1.633333,-0.520993,-0.798458,0.622214,-1.176038,...,-0.352326,1.488688,0.087869,0.202684,-0.671409,-0.104211,0.196444,-0.982166,0.056568,1

In [34]:
df['positive'] = df_sentiment['positive'].to_list()
df['neutral'] = df_sentiment['neutral'].to_list()
df['negative'] = df_sentiment['negative'].to_list()
df.to_sql('yelp_dynamic', con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

772

In [40]:
df_index = pd.read_sql_query("""
SELECT *
FROM yelp_data.google_trend_v
""", con = engine_out)
df_index
df_info = pd.read_sql_query("""
SELECT business_id, state
FROM yelp_data.yelp_coffee_info_processed
""",con=engine_out)
df_info
df = df.merge(df_info,on='business_id')
temp = []
for i in df_index.columns:
    if i[-2]=='0':
        temp.append(i[:-2]+i[-1:])
    else:
        temp.append(i)
df_index.columns = temp
df_index

In [60]:
result = []
state_list = df_index['state'].to_list()
ym_list = df_index.columns[1:].to_list()
for i in range(len(df)):
    content = df.iloc[i].to_list()
    state, ym = content[-2], content[1]
    # print(state,ym)
    if state in state_list and ym in ym_list:
        index = state_list.index(state)
        result.append(df_index[ym].to_list()[index])
    else: 
        result.append(0)
df['searching_index'] = result

In [63]:
df = df.loc[:, ~df.columns.isin(['state'])]
df.to_sql('yelp_dynamic', con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

249