In [9]:
import pandas as pd
from sqlalchemy import create_engine

engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')

In [10]:
df = pd.read_sql_query("SELECT * FROM yelp_data.yelp_yolo", con = engine_out)
df

,photo_index,photo_id,business_id,class_0,class_1,class_10,class_11,class_12,class_13,class_14,...,class_71,class_72,class_73,class_74,class_75,class_76,class_77,class_79,class_8,class_9
0,0,Gzur0f0XMkrVxIwYJvOt2g,H52Er-uBg6rNrHcReWTD2w,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,KRc2irAIY3pgGlV0p4znmQ,RBBVVDG3t4lTTyl_vW2W3A,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,d5WQMTNea__i3nUjz2qYdA,Zf4n7JKV6xAkuQOAokTDzg,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,EBonJ5tjkxBEUezwosVlLg,OPCnM6rMMis1XxF8lARJ2w,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,H1bbYNKgk6JF9pKcBXyDXw,tdqcGXATfpCeG7VXtsJhbQ,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23511,23511,7cpj7hjDTX5fb-6pYcZiGQ,BXhwLGScqg8wpMB-5MsSGw,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23512,23512,kgMEBZG6rjkGeFzPaIM4MQ,vYNAKf2H5mACGcnTMtbdIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23513,23513,al3Ri6TEqa2rBzjHsn0T_g,DwPp21mn3zqBpbsCX8PhpQ,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23514,23514,-DlF6neBa1HKx7aFi3ZxOg,sTa0Sr2enAcphYyYfjF8Og,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23515,23515,8uF-bhJFgT4Tn6DTb27viA,rK27MSwgcMUwUGph6n3Qgg,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# photo id and business_id are incorrect
# photo id is business_id, and business_id is photo_id
# group by and sum all features
df = df.groupby("photo_id").sum()
# correct the index name
df = df.rename_axis("business_id")
# delete photo_id column
df = df.loc[:, df.columns!='photo_index']

205

In [12]:
# to_Sql
df.to_sql('yelp_yolo_by_shop', con = engine_out, if_exists = 'replace', index = True,schema = 'yelp_data')

205