In [2]:
import pandas as pd
from sqlalchemy import create_engine
from nltk.tokenize import sent_tokenize, word_tokenize
from gensim.models import Word2Vec
from nltk.corpus import stopwords
import gensim
import re
import nltk
import sqlalchemy
# nltk.download()
# create engine
engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')

In [3]:
query = """
SELECT text
FROM yelp_data.yelp_review
"""
reviews = pd.read_sql_query(query, con=engine_out)

In [4]:
reviews = reviews[['text']]
reviews

                                                     text
0       This was such a unique spot, from the graffiti...
1       Amazing biscuits and (fill in the blank). Grea...
2       Locals recommended Milktooth, and it's an amaz...
3       Busy place, but we were offered extra- special...
4       Love this bucks but the blonde with the red li...
...                                                   ...
442343  I ordered the impossible burger and it was ama...
442344  On my way out of Reno last week I noted a new ...
442345  Stopped by here after getting my nails done ne...
442346  My Favorite Muffin really is my favorite muffi...
442347  Local Reno chain.  \n\nSolid bagels\nGood Muff...

[442348 rows x 1 columns]

In [13]:
stop_words = set(stopwords.words('english'))
data = []
for review in reviews.text:
    review = re.sub('\n',' ', review)
    review = re.sub('[.@#$&*-+!,;:\[\]?/<>"]','', review)

    for i in sent_tokenize(review):
        temp = []

        for j in word_tokenize(i):
            if j not in stop_words:
                temp.append(j.lower())
        data.append(temp)

model1 = Word2Vec(data, min_count = 2)

In [5]:
# save model
# model1.save('./saved_model')

# load model
model1 = gensim.models.Word2Vec.load('./saved_model')
# model1.save_word2vec_format('1', fvocab='2', binary=True)
print(model1)

Word2Vec(vocab=82334, vector_size=100, alpha=0.025)

## average all the score in the review

In [29]:

query = """
SELECT business_id,review_id, text
FROM yelp_data.yelp_review
"""
df = pd.read_sql_query(query, con=engine_out)
df

,business_id,review_id,text
0,o1bd3WLl4McflqjDTJTdHQ,BOL3hGWiZpzay3FcghAVww,"This was such a unique spot, from the graffiti..."
1,Zx7n8mdt8OzLRXVzolXNhQ,E9AB7V4z8xrt2uPF7T55FQ,Amazing biscuits and (fill in the blank). Grea...
2,EQ-TZ2eeD_E0BHuvoaeG5Q,l3Wk_mvAog6XANIuGQ9C7Q,"Locals recommended Milktooth, and it's an amaz..."
3,EQ-TZ2eeD_E0BHuvoaeG5Q,S-H-Ao17MEYH9cLpvevbnQ,"Busy place, but we were offered extra- special..."
4,hNH1ILskk1qu7TA0rBvvlw,3dpZV03faf7YynNxwCKlcA,Love this bucks but the blonde with the red li...
...,...,...,...
442343,M5eciMJjAiEmwI_TUWrU1w,QMoYcuDczAHekUxz0O0F8g,I ordered the impossible burger and it was ama...
442344,Ddg-J_j0YFErk7wpMtH_0A,OrYpmKDqmc3X7g7STa3jww,On my way out of Reno last week I noted a new ...
442345,h71Bxbv009IEmwsMzdWZ5A,dijqvaN-OmoztzJjqo40HQ,Stopped by here after getting my nails done ne...
442346,a3p47WxYVo0BZGJoP1O0qA,34sCCOifL_zJez9nLjSZYQ,My Favorite Muffin really is my favorite muffi...
442347,a3p47WxYVo0BZGJoP1O0qA,d_h6-_FPRUcGwAUsPmVaew,Local Reno chain. \n\nSolid bagels\nGood Muff...

In [30]:
result_list = []
for index in range(len(df)):
    temp = [0]*100
    word_count = 0
    bid, rid, text = df.iloc[index].values.tolist()
    text = text.split()
    text = re.sub('\n',' ', ' '.join(text))
    text = re.sub('[@#$%^&*(),.;:?/|!`~{}]','', text)
    for word in text.split():
        try:
            temp += model1.wv[word.lower()]
            word_count += 1

        except:
            continue
    if word_count:
        result_list.append([bid,rid,[i/word_count for i in temp]])

In [47]:
df = pd.DataFrame(result_list,columns=['business_id','review_id','vertorize_review'])

df.to_sql("yelp_vertorize", con = engine_out, if_exists = 'replace', index = False\
    ,dtype = {'vertorize_review':sqlalchemy.types.ARRAY}
            ,schema = 'yelp_data')

AttributeError: module 'sqlalchemy' has no attribute 'types'

## Find out vector presentation

In [23]:
v = [0 for i in range(100)]
    
v[17] = 1
v[39] = 1
v[85] = 1
v[54] = 1
v[72] = 1
v[55] = 1
v[38] = 1
print(model1.wv.most_similar(v,topn=1))

[('anyway', 0.6300267577171326)]