In [34]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')
sql = '''SELECT * FROM yelp_data.census_bureau;'''
census = pd.read_sql_query(sql,con=engine_out)
census

,state,Total:_Estimate,Total:_Margin of Error,"Less than $20,000_Estimate","Less than $20,000_Margin of Error","$20,000 to $39,999_Estimate","$20,000 to $39,999_Margin of Error","$40,000 to $59,999_Estimate","$40,000 to $59,999_Margin of Error","$60,000 to $99,999_Estimate",...,PAYANN,PAYANN_S,PCHDAPR,PCHADVT,YEAR,DENSITY_2021,NPOPCHG_2021,POP_2021,RANK_PPOPCHG_2021,PPOPCHG_2021
0,Alabama,"1,895,330","+/-11,303","343,100","+/-6,195","377,846","+/-4,948","300,806","+/-3,848","415,862",...,593200,0.0,2396,1638,2012,99.5099129150,15074,5039877,20,0.2999918604
1,Alabama,"1,895,330","+/-11,303","343,100","+/-6,195","377,846","+/-4,948","300,806","+/-3,848","415,862",...,353795,0.0,667,1018,2017,99.5099129150,15074,5039877,20,0.2999918604
2,Alaska,"255,456","+/-3,049","25,234","+/-1,523","30,722","+/-1,632","34,087","+/-2,167","66,229",...,1454311,0.0,25066,10420,2012,1.2830925496,232,732673,32,0.0316749062
3,Alaska,"255,456","+/-3,049","25,234","+/-1,523","30,722","+/-1,632","34,087","+/-2,167","66,229",...,1161521,0.0,3459,3914,2017,1.2830925496,232,732673,32,0.0316749062
4,Arizona,"2,774,127","+/-9,543","356,350","+/-6,290","468,309","+/-5,096","464,365","+/-4,269","664,639",...,759997,0.0,11260,1211,2012,64.0221138030,98330,7276316,4,1.3698828613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,West Virginia,"734,080","+/-6,718","144,929","+/-3,809","158,301","+/-3,067","126,136","+/-2,789","156,728",...,1453659,0.0,6827,3059,2017,74.1627628920,-6839,1782959,43,-0.3821101600
96,Wisconsin,"2,393,344","+/-8,298","310,755","+/-5,192","400,960","+/-4,721","392,308","+/-4,136","601,226",...,244055,0.0,1931,1471,2012,108.8461550200,3585,5895908,31,0.0608418785
97,Wisconsin,"2,393,344","+/-8,298","310,755","+/-5,192","400,960","+/-4,721","392,308","+/-4,136","601,226",...,382987,0.0,1930,2105,2017,108.8461550200,3585,5895908,31,0.0608418785
98,Wyoming,"237,179","+/-3,770","29,628","+/-1,938","36,532","+/-1,966","41,668","+/-1,966","57,948",...,2298240,0.0,9689,15111,2012,5.9615893092,1536,578803,22,0.2660813800
99,Wyoming,"237,179","+/-3,770","29,628","+/-1,938","36,532","+/-1,966","41,668","+/-1,966","57,948",...,1529083,0.0,4422,4497,2017,5.9615893092,1536,578803,22,0.2660813800

In [35]:
PCHDAPR_list = [int(item) for item in census['PCHDAPR']]
PCHADVT_list = [int(item) for item in census['PCHADVT']]

PCHDAPR_avg = sum(PCHDAPR_list)/len(PCHDAPR_list)
PCHADVT_avg = sum(PCHADVT_list)/len(PCHADVT_list)

In [36]:
'''
PCHDAPR	数据处理和其他购买的计算机服务（1,000 美元）
PCHADVT	广告和促销服务（1,000 美元）
For these two columns:
if both 2012 and 2017 values exist, then we would choose 2017's value;
if 2017 value does not exist, then we would use 2012's value and put it into 2017's value.
if both are 0, then we would use the average.

It is enough to just look at the 2017 rows.
'''
for i in range(1,len(PCHDAPR_list),2):
    if PCHDAPR_list[i] == 0:
        if PCHDAPR_list[i-1] != 0:
            PCHDAPR_list[i] = PCHDAPR_list[i-1]
        elif PCHDAPR_list[i-1] == 0:
            PCHDAPR_list[i] = PCHDAPR_avg
    if PCHADVT_list[i] == 0:
        if PCHADVT_list[i-1] != 0:
            PCHADVT_list[i] = PCHADVT_list[i-1]
        elif PCHADVT_list[i-1] == 0:
            PCHADVT_list[i] = PCHADVT_avg

In [37]:
census['PCHDAPR'] = PCHDAPR_list
census['PCHADVT'] = PCHADVT_list

In [38]:
#census.iloc[1::2, :] ## check

In [47]:
'''
we choose 95% confidence interval
get max and min by mean +/- 2*margin of error
'''
#calculate max and min values
max_dic = dict()
min_dic = dict()
for i in range(1,17,2):
    est = [int(e.replace(',','')) for e in census.iloc[:,i]] #estimate columns
    sd_list = []
    for error in census.iloc[:,i+1]:
        sd_list.append(2*int(error[3:].replace(',','')))
    maxx = [sum(x) for x in zip(est,sd_list)]
    minn = []
    for e, sd in zip(est, sd_list):
        item = e - sd
        minn.append(item)
    max_dic[f'{census.columns[i]}_max'] = maxx
    min_dic[f'{census.columns[i]}_min'] = minn

#add to the table
for k,v in max_dic.items():
    census[k] = v
for k,v in min_dic.items():
    census[k] = v
census

,state,Total:_Estimate,Total:_Margin of Error,"Less than $20,000_Estimate","Less than $20,000_Margin of Error","$20,000 to $39,999_Estimate","$20,000 to $39,999_Margin of Error","$40,000 to $59,999_Estimate","$40,000 to $59,999_Margin of Error","$60,000 to $99,999_Estimate",...,"$150,000 to $199,999_Estimate_max","$200,000 or more_Estimate_max",Total:_Estimate_min,"Less than $20,000_Estimate_min","$20,000 to $39,999_Estimate_min","$40,000 to $59,999_Estimate_min","$60,000 to $99,999_Estimate_min","$100,000 to $149,999_Estimate_min","$150,000 to $199,999_Estimate_min","$200,000 or more_Estimate_min"
0,Alabama,"1,895,330","+/-11,303","343,100","+/-6,195","377,846","+/-4,948","300,806","+/-3,848","415,862",...,102966,108672,1872724,330710,367950,293110,403792,249422,93546,95368
1,Alabama,"1,895,330","+/-11,303","343,100","+/-6,195","377,846","+/-4,948","300,806","+/-3,848","415,862",...,102966,108672,1872724,330710,367950,293110,403792,249422,93546,95368
2,Alaska,"255,456","+/-3,049","25,234","+/-1,523","30,722","+/-1,632","34,087","+/-2,167","66,229",...,28662,26854,249358,22188,27458,29753,61563,46074,22830,19638
3,Alaska,"255,456","+/-3,049","25,234","+/-1,523","30,722","+/-1,632","34,087","+/-2,167","66,229",...,28662,26854,249358,22188,27458,29753,61563,46074,22830,19638
4,Arizona,"2,774,127","+/-9,543","356,350","+/-6,290","468,309","+/-5,096","464,365","+/-4,269","664,639",...,197505,216069,2755041,343770,458117,455827,653201,412490,184293,197997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,West Virginia,"734,080","+/-6,718","144,929","+/-3,809","158,301","+/-3,067","126,136","+/-2,789","156,728",...,36362,25484,720644,137311,152167,120558,149194,85940,29914,18772
96,Wisconsin,"2,393,344","+/-8,298","310,755","+/-5,192","400,960","+/-4,721","392,308","+/-4,136","601,226",...,157608,137581,2376748,300371,391518,384036,589074,395856,145336,124653
97,Wisconsin,"2,393,344","+/-8,298","310,755","+/-5,192","400,960","+/-4,721","392,308","+/-4,136","601,226",...,157608,137581,2376748,300371,391518,384036,589074,395856,145336,124653
98,Wyoming,"237,179","+/-3,770","29,628","+/-1,938","36,532","+/-1,966","41,668","+/-1,966","57,948",...,18225,16850,229639,25752,32600,37736,54168,37114,13397,11878
99,Wyoming,"237,179","+/-3,770","29,628","+/-1,938","36,532","+/-1,966","41,668","+/-1,966","57,948",...,18225,16850,229639,25752,32600,37736,54168,37114,13397,11878

In [48]:
census.to_csv('/Users/zhangjiawen/Desktop/STATS170A-B/170-personalized/census_Bureau/census_Bureau_clean.csv')

In [49]:
# import to sql
from sqlalchemy import create_engine
engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')
census.to_sql('census_Bureau_clean',con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')