In [8]:
import pandas as pd
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz = 360) 
engine = create_engine('postgresql+psycopg2://postgres:QAZwsx123@localhost:5432/stat170-project')

In [10]:
query = """
SELECT review_id, correct_date
FROM yelp_data.shop_category sc, yelp_data.review re
WHERE sc.category = 'Coffee & Tea'
    and sc.business_id = re.business_id
"""
result_review = pd.read_sql_query(query, con=engine)

kw_list = ['Coffee','Tea']
pytrends.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='US', gprop='')
result_trend = pytrends.interest_over_time()

In [6]:
result

                     review_id        correct_date
0       MvXrx2wGR42ax0RQsw3vxw 2013-05-01 20:43:15
1       3Z2wZy0qJaOlm3xYUJvFjw 2010-09-25 17:37:37
2       Fxa3JBKe8ILtb_IHthplkA 2014-06-22 20:54:30
3       1O1ddOoPSjG7BjfSgjJ84g 2011-11-26 19:24:56
4       zgl8_F85nNc08PFR36qrVQ 2013-12-01 17:49:43
...                        ...                 ...
442343  XZBmFzSROsbTJF_fH1SOWg 2016-03-04 02:15:55
442344  73G2QG65Tn-aYmq0G5V-7Q 2015-07-27 17:12:42
442345  gIkZ7KBXwIHKVxLAaJ7aPQ 2015-11-15 20:18:50
442346  FIcm7qIidC9fvOdT-U0Kvg 2018-02-01 16:19:32
442347  WlXXXpRjUuiAwaIvyhx9dg 2015-03-28 20:35:43

[442348 rows x 2 columns]