In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sys,json

## Create engine (connecting to SQL)
    postgresql+psycopg2://SQL_account_name(default:postgres):password@server_address(default:localhost:5432)/stat170-project

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:QAZwsx123@localhost:5432/stat170-project')

## insert yelp shop info
    It will take several minutes to insert data.

In [14]:
# read data
data = pd.read_json(".\\yelp_academic_dataset_business.json",lines = True)
# progress bar variables
recored = 0
progress = 0
total = data.shape[0]

# insert code
for i in data.index:
        # insert base info
        values = [data.iloc[i].business_id,
                data.iloc[i]['name'],
                data.iloc[i].address,
                data.iloc[i].city,
                data.iloc[i].state,
                data.iloc[i].postal_code,
                data.iloc[i].latitude,
                data.iloc[i].longitude,
                data.iloc[i].stars,
                int(data.iloc[i].review_count),
                bool(data.iloc[i].is_open),
                str(data.iloc[i].attributes),
                str(data.iloc[i].hours)]
        engine.execute(f"INSERT INTO yelp_data.shop_info VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)\
                        ON CONFLICT (business_id) DO UPDATE set name = excluded.name",
                values)
        # insert categories
        if data.iloc[i].categories:
                list_cate = []
                for category in data.iloc[i].categories.split(", "):
                        list_cate.append((data.iloc[i].business_id, category))
                engine.execute(f"INSERT INTO yelp_data.shop_category VALUES(%s, %s)\
                        ON CONFLICT (business_id, category) DO UPDATE \
                        SET category = excluded.category",
                        list_cate)
        # counter plus one
        progress += 1
        # refresh progress bar
        if progress - recored >= total /1000:
                sys.stdout.write('\r')
                sys.stdout.write("[{:40s}] {:.1f}%".format('='*int(progress//(total/20)), progress/total*100))
                recored = progress
# print success info
print("Inserting yelp shops' info DONE!")

[=                                       ] 6.5%

## insert yelp reviews and other tables
    WARNING: It will take a long time!!

In [34]:
# read data
import json

# progress bar variables
with open(".\\yelp_academic_dataset_tip.json","r", encoding='utf-8') as f:
    row = f.readline()
    while row :
        part_values = []
        while row and len(part_values) <10000:
            row = json.loads(row)
            values = tuple(row.values())
            part_values.append(values)
            row = f.readline()
        engine.execute(f"INSERT INTO yelp_data.tip VALUES(%s, %s, %s, %s, %s)\
                        ON CONFLICT (user_id,business_id, date) DO NOTHING",
                part_values)
print("finish inserting [tip]")

with open(".\\yelp_academic_dataset_user.json","r", encoding='utf-8') as f:
    row = f.readline()
    while row :
        part_values = []
        while row and len(part_values) <10000:
            row = json.loads(row)
            values = tuple(row.values())
            part_values.append(values)
            row = f.readline()
        engine.execute(f"INSERT INTO yelp_data.user_info VALUES(%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s,%s)\
                        ON CONFLICT (user_id) DO NOTHING",
                part_values)
print("finish inserting [user]")

with open(".\\yelp_academic_dataset_checkin.json","r", encoding='utf-8') as f:
    row = f.readline()
    while row :
        part_values = []
        while row and len(part_values) <10000:
            row = json.loads(row)
            values = tuple(row.values())
            part_values.append(values)
            row = f.readline()
        engine.execute(f"INSERT INTO yelp_data.checkin VALUES(%s, %s)\
                        ON CONFLICT (business_id) DO NOTHING",
                part_values)
print("finish inserting [checkin]")

with open(".\\photos.json","r", encoding='utf-8') as f:
    row = f.readline()
    while row :
        part_values = []
        while row and len(part_values) <10000:
            row = json.loads(row)
            values = tuple(row.values())
            part_values.append(values)
            row = f.readline()
        engine.execute(f"INSERT INTO yelp_data.photo VALUES(%s, %s, %s, %s)\
                        ON CONFLICT (photo_id) DO NOTHING",
                part_values)
print("finish inserting [photo]")

recored = 0
progress = 0
total = 7013959
with open(".\\yelp_academic_dataset_review.json","r", encoding='utf-8') as f:
    row = f.readline()
    while row :
        part_values = []
        while row and len(part_values) <10000:
            row = json.loads(row)
            values = tuple(row.values())
            part_values.append(values)
            row = f.readline()
        engine.execute(f"INSERT INTO yelp_data.review VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s)\
                        ON CONFLICT (review_id) DO NOTHING",
                part_values)

        # counter plus one
        progress += 10000
        # refresh progress bar
        if progress - recored >= total /1000:
                sys.stdout.write('\r')
                sys.stdout.write("inserting reviews: [{:40s}] {:.1f}%".format('='*int(progress//(total/20)), progress/total*100))
                recored = progress

## Extra Part: convert json to csv
    The output files have encoding error when input into the SQL.

In [ ]:
# exploring the attributes in each tables

'''
with open(".\\photos.json","r", encoding='utf-8') as f:
    print(f.readline())
'''

{"photo_id": "zsvj7vloL4L5jhYyPIuVwg", "business_id": "Nk-SJhPlDBkAZvfsADtccA", "caption": "Nice rock artwork everywhere and craploads of taps.", "label": "inside"}

finish inserting [photo]

In [7]:
"""
# convert to csv
import csv
import json
dataset = ['business','review','checkin','tip','user']
for i in dataset:
    f = open(f"C:\\Users\\kev\\Downloads\\yelp_dataset-1\\yelp_academic_dataset_{i}.json","rb")
    with open(f"C:\\Users\\kev\\Downloads\\yelp_dataset-1\\yelp_academic_dataset_{i}.csv","w", encoding='utf-8',newline='') as file:
        csv_w = csv.writer(file)

        row = f.readline()
        row = json.loads(row)
        csv_w.writerow(list(row.keys()))

        row = f.readline()
        while row:
            row = json.loads(row)
            row = list(row.values())
            csv_w.writerow(row)
            row = f.readline()

        f.close()
"""

## update review date

In [35]:
query = """
SELECT si.business_id
FROM yelp_data.shop_info si, yelp_data.shop_category sc
WHERE si.business_id = sc.business_id
    and sc.category = 'Coffee & Tea'
"""
bid = pd.read_sql_query(query, con=engine)
bid = list(bid.business_id)

recored = 0
progress = 0
total = 6703
with open(".\\yelp_academic_dataset_review.json","r", encoding='utf-8') as f:
    row = f.readline()
    while row :
        
        
        row = json.loads(row)
        values = list(row.values())
        values.append(values[-1])

        if values[2] not in bid:
            row = f.readline()
            continue

        engine.execute(f"INSERT INTO yelp_data.review VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s,%s)\
                        ON CONFLICT (review_id) DO UPDATE SET correct_date = EXCLUDED.correct_date",
                values)
        row = f.readline()

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:QAZwsx123@localhost:5432/stat170-project')
engine_out = create_engine(r'postgresql+psycopg2://postgres:stats170@104.197.51.5')

In [12]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.checkin
""",con = engine)
df.to_sql("checkin", con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

930

In [5]:
df = pd.read_sql_query("""
SELECT *
FROM yelp_data.user_info
""",con = engine)
df.to_sql("user_info", con = engine_out, if_exists = 'append', index = False,schema = 'yelp_data')

'''
for i in range(len(df)):
    try:
        df.iloc[i:i+1].to_sql(name="user_info",if_exists='append',con = engine)
    except IntegrityError:
        pass #or any other action
'''

'\nfor i in range(len(df)):\n    try:\n        df.iloc[i:i+1].to_sql(name="user_info",if_exists=\'append\',con = engine)\n    except IntegrityError:\n        pass #or any other action\n'

In [12]:
pd.read_sql_query("""ALTER TABLE yelp_data.review ADD IF NOT EXISTS correct_date TIMESTAMP;""",con=engine_out)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [14]:
df = pd.read_sql_query("""
SELECT re.review_id,
	re.user_id,
	re.business_id,
	re.stars,
	re.useful,
	re.funny,
	re.cool,
	re.text,
	re.date,
    re.correct_date
FROM yelp_data.review re, yelp_data.shop_category sc
WHERE sc.category = 'Coffee & Tea' and 
    sc.business_id = re.business_id
""",con = engine)
'''
for i in range(len(df)):
    try:
        df.iloc[i:i+1].to_sql(name="review",if_exists='append',con = engine_out)
    except IntegrityError:
        pass #or any other action
'''
df.to_sql("review", con = engine_out, if_exists = 'append', index = False,schema = 'yelp_data')

348

In [22]:
df = pd.read_sql_query("""
SELECT re.user_id
FROM yelp_data.yelp_coffee_info ci
    ,yelp_data.yelp_review re
WHERE ci.business_id = re.business_id 
""", con = engine_out)
df = df.user_id.tolist()

## insert correct yelping since

In [24]:
with open(".\\yelp_academic_dataset_user.json","r", encoding='utf-8') as f:
    row = f.readline()
    result = []
    while row :
        row = json.loads(row)
        values = list(row.values())
        if values[0] not in df:
            row = f.readline()
            continue

        values.append(values[3])
        values.append(sum(values[-12:-1]))
        result.append(values)

        row = f.readline()

df = pd.DataFrame(result,columns=['user_id','name','review_count','error column','useful','funny','cool','elite','friends',\
    'fans','average_stars','compliment_hot','compliment_more','compliment_profile','compliment_cute','compliment_list','compliment_note'\
        ,'compliment_plain','compliment_cool','compliment_funny','compliment_writter','compliment_photos',\
            'correct_yelp_since','combined_compliment'])
        
df.to_sql("yelp_user_info", con = engine_out, if_exists = 'replace', index = False,schema = 'yelp_data')

388

## insert photo into cloud

In [ ]:
pd.read_sql_query("""
SELECT count(*)
FROM yelp_data.yelp_photo
""",con = engine)

    count
0  200098